/* paginacion.css */

#paginacion {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
#paginacion li {
}
#paginacion strong, #paginacion a {
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  box-shadow: 0 0 1px #999;
}
#paginacion strong {
  background-color: #666;
  color: #ccc;
}
#paginacion a {
  text-decoration: none;
  color: #000;
}
#paginacion a:hover {
  background-color: #ccc;
}


@media (max-width: 800px) {
  #paginacion {
    width: 100%;
  }
}
