/* ficha.css */

#ficha {
  width: 800px;
}
  #ficha h1 {
    margin: 1.3em 0 1em 0;
  }
  #ficha div.datos {
    display: flex;
  }
    #ficha img {
      margin: 1em 0 0 1em;
      width: 320px;
      height: 240px;
    }
    #ficha ul {
      list-style-type: none;
      margin: 0 0 0 4em;
      padding: 0;
    }
      #ficha li {}
        #ficha label {
          display: block;
          color: #666;
          margin-bottom: 0.2em;
        }
        #ficha label::after {
          content: ":";
        }
        #ficha strong {
          display: block;
          margin:0 0 1em 1em;
          font-weight: normal;
          font-size: 1.1em;
        }
        #ficha .precio strong {
          font-size: 1.4em;
        }
        #ficha .cantidad {}
        #ficha .proveedor {}
        #ficha .categoria {}
        #ficha .stock {}

  #ficha div.descripcion {
    line-height: 160%;
  }

@media (max-width: 800px) {
  #ficha {
    width: 100%;
  }
  #ficha div.datos {
    flex-direction: column;
    align-items: center;
  }
  #ficha img {
    max-width: 100%;
    height: auto;
  }
  #ficha ul {
    margin: 2em 0 2em 0;
  }
  #ficha label {
  }
  #ficha strong {
    margin-left: 0;
  }
}
