// SCSS
// Plugin atom.io:
//   sass-autocompile
// Require:
//   sudo npm install node-sass -g

$fondo: #fff;
$panel: #acd;
$texto: #333;
$link: #000;
$hover: #eee;

$pagewidth: 1200px;
$mobilewidth: 800px;

// @include centered();
@mixin centered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: $fondo;
  font-family: sans-serif;
  color: $texto;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  justify-content: center;
}
#page {
  max-width: $pagewidth;
}

#pageheader {
}

#super {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding: 4px 0;
}

#title {
  margin:0;
  text-align: center;
  a {
    text-decoration: none;
    color: $link;
  }
}

#search {
  text-align: center;
  input {
    width: 300px;
  }
}

#toggle_nav {
  display: none;
}

#navigator {
  background-color: $panel;
  >ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    flex: auto; // new
  }
  a {
    display: block; // new
    text-align: center; // new
    padding: 1em 0; // new
    text-decoration: none;
    color: $link;
    &:hover {
      background-color: $hover;
    }
    &.actual {
      background-color: $link;
      color: $fondo;
    }
  }
}

#pagemain {
  >section {
    display: flex;
    justify-content: space-between;
  }
}

#pagefooter {
  background-color: $panel;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  margin-top: 2em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $link;
    &:hover {
      text-decoration: underline;
    }
  }
}

#menu {
  li {
    margin: 0.5em 0;
  }
}

@media (min-width: $mobilewidth) {
  #navigator a.actual {
    border-bottom: 4px solid salmon;
    padding-bottom: calc(1em - 4px);
  }
}

@media (max-width: $mobilewidth) {
  #super {
    flex-direction: column;
  }
  #search {
    margin:0.5em 0;
    input {
      width: inherit;
    }
    button {
      padding: 0.5em 2em;
    }
  }
  #toggle_nav {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 1.3em;
    span {
      font-size: 2em;
      margin-right: 0.3em;
    }
  }
  #navigator {
    >ul {
      display: none;
      flex-direction: column;
    }
    a {
      display: block;
      text-align: center;
      padding: 0.3em;
      font-size: 1.2em;
      border-bottom: 2px solid #fff;
    }
  }
  #pagemain {
    >section {
      flex-direction: column;
    }
  }
  #pagefooter {
    flex-direction: column;
    a {
      display: block;
      text-align: center;
    }
  }
  #social {
    margin-top: 2em;
  }
}
